<div class="main_container">
  <div class="form-container">
    <div class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h1>Reset Password</h1>
      <div class="input_fields">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" placeholder="Enter your new password">
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
            New Password is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
            Password must be at least 8 characters long
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern')">
            Invalid Password
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your new password">
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm?.hasError('passwordMismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" class="submitButton" (click)="onSubmit()" [disabled]="resetPasswordForm.invalid">Submit</button>
    </div>
    <div class="image-container">
      <img src="https://cdn-lite.ip2location.com/img/sign-up.png" alt="Image description">
    </div>
  </div>
</div>
